<section>
  <app-banner
    src="/imagens/banner-pagina-nao-encontrada.png"
    alt="404 banner"
  ></app-banner>
  <app-container>
    <p>
      Ops! Página não encontrada!
      <a routerLink="/">Retorne a tela inicial</a>
    </p>
    <figure>
      <img
        src="imagens/pagina-nao-encontrada.png"
        alt="An art of a woman with binoculars and a purple circle"
      />
    </figure>
  </app-container>
  <app-banner
    src="imagens/banner-homepage-rodape.png"
    alt="an Image of a man sitted on a clif looking to natural landscape"
  ></app-banner>
</section>
