<app-banner
  src="imagens/banner-login.png"
  alt="Main banner of login page"
></app-banner>

<section class="login-component">
  <mat-card class="login">
    <div class="image-container">
      <figure>
        <img src="imagens/simbolo-bussola.png" alt="an image of a compass" />
      </figure>
    </div>
    <div class="form-container">
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <form>
        <mat-form-field>
          <mat-label>Email ou CPF</mat-label>
          <input
            type="email"
            matInput
            [formControl]="email"
            placeholder="Digite o seu e-mail ou CPF"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Senha</mat-label>
          <input
            type="password"
            matInput
            [formControl]="password"
            placeholder="Digite a sua senha"
          />
        </mat-form-field>
        <mat-card-actions>
          <button mat-flat-button>ACESSAR MINHA CONTA</button>
        </mat-card-actions>
        <p>
          Ainda não possui conta?
          <a href="#"
            ><strong><u>Clique aqui para se cadastrar!</u></strong></a
          >
        </p>
      </form>
    </div>
  </mat-card>
</section>
