.form-container {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 16px 0;

  button {
    margin-bottom: 1.25rem;
  }
}

.input-width {
  max-width: 12.375rem;
  margin-bottom: 1.25rem;
}
