.mat-mdc-card {
  background-color: rgba(191, 191, 191, 0.34);
}

.tickets__summary {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 11rem;
  width: 14.5rem;
}
