<div class="footer">
  <app-container>
    <div class="footer__info">
      <div>
        <figure>
          <img
            src="imagens/logo-com-tagline.png"
            alt="Main logo with description"
            width="162px"
            height="40px"
          />
        </figure>
        <p>Horário de atendimento: 08h - 20h (Segunda a Sábado)</p>
        <p>Desenvolvido por Kaleb Dalla</p>
      </div>
      <div>
        <p>Acesse nossas redes:</p>
        <div class="footer__social">
          <button mat-icon-button>
            <img src="icones/whatsapp.png" alt="whatsapp icon" />
          </button>
          <button mat-icon-button>
            <img src="icones/instagram.png" alt="instagram icon" />
          </button>
          <button mat-icon-button>
            <img src="icones/twitter.png" alt="twitter icon" />
          </button>
        </div>
      </div>
    </div>
  </app-container>
</div>
